@charset "UTF-8";

.panel{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	font-family: sans-serif;
}

.panel h1{
	font-size: 28px;
	font-family: sans-serif;
	color: #181818;
}

.footer {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
	font-family: sans-serif;
	
}

.footer h3{
	font-size: 12px;
	font-family: sans-serif;
	color: #181818;
}

.ui-panelgrid td, .ui-panelgrid tr {
    border-style: none !important
}